<!DOCTYPE html>
<html>
<head>
    <title>{% if title %} {{ title }} - site{% endif %}</title>
    <script src="//code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        $(function() {
            $('button').click(function() {
                $.ajax({
                    url: '/',
                    data: $('form').serialize(),
                    type: 'POST',
                    success: function(response) {
                        console.log(response);
                    },
                    error: function(error) {
                        console.log(error);
                    }
                });
            });
        });
    </script>
</head>
<body>
    <p>
        {% if user %}
            Hello, {{ user.username }}!!
        {% else %}
            Hello, anonymous!!
        {% endif %}
    </p>
    <form action="" method="post" name="login">
        {{ form.hidden_tag() }}
            {% if form %}
                {% for field in form %}
                    <p>{{ field }}</p>
                {% endfor %}
            {% endif %}
            <!-- <p><input type="submit" value="Sign In"></p> -->
    </form>
    <button type="submit">Sign In</button>
</body>
</html>